Data cleansing can be one of the most time consuming a data scientist will do.

The data for this problem came from [this blog](https://towardsdatascience.com/data-cleaning-with-python-and-pandas-detecting-missing-values-3e9c6ebcf78b).

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/dataoptimal/posts/master/data%20cleaning%20with%20python%20and%20pandas/property%20data.csv'
df = pd.read_csv(url)
print(df.shape)
df.head()

(9, 7)

           PID  ST_NUM    ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0     PUTNAM            Y            3        1  1000
1  100002000.0   197.0  LEXINGTON            N            3      1.5    --
2  100003000.0     NaN  LEXINGTON            N          NaN        1   850
3  100004000.0   201.0   BERKELEY           12            1      NaN   700
4          NaN   203.0   BERKELEY            Y            3        2  1600

## Filling missing values

In [11]:
df.SQ_FT.astype(float)

ValueError: could not convert string to float: '--'

In [16]:
cond = df.SQ_FT.str.isnumeric()
df.loc[cond == False, 'SQ_FT'] = None

In [17]:
cond

0    True
1    None
2    True
3    True
4    True
5    True
6    True
7     NaN
8    True
Name: SQ_FT, dtype: object

In [18]:
df.SQ_FT = df.SQ_FT.astype(float)
med_value = df.SQ_FT.median()
df.loc[cond!=True, 'SQ_FT'] = med_value

Please do the same as above for `NUM_BATH`.

We will do the same for a non numerical column (own_occupied). Note how I keep on writing `cond==True`. This is due to the nan values.

In [24]:
cond = df.OWN_OCCUPIED.str.isalpha()
mode_val = df.loc[cond==True, 'OWN_OCCUPIED'].mode()
df.loc[cond!=True, 'OWN_OCCUPIED'] = mode_val.values

In [25]:
df.head()

           PID  ST_NUM    ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0     PUTNAM            Y            3        1  1000.0
1  100002000.0   197.0  LEXINGTON            N            3      1.5   950.0
2  100003000.0     NaN  LEXINGTON            N          NaN        1   850.0
3  100004000.0   201.0   BERKELEY          NaN            1      NaN   700.0
4          NaN   203.0   BERKELEY            Y            3        2  1600.0

In [26]:
cond

0     True
1     True
2     True
3    False
4     True
5     True
6      NaN
7     True
8     True
Name: OWN_OCCUPIED, dtype: object

In [27]:
mode_val

0    Y
dtype: object

In [31]:
df.loc[cond!=True, 'OWN_OCCUPIED'] = mode_val.values

In [32]:
df.loc[cond!=True, 'OWN_OCCUPIED']

3    Y
6    Y
Name: OWN_OCCUPIED, dtype: object

In [37]:
pd.get_dummies(df.OWN_OCCUPIED, drop_first=True)

   Y
0  1
1  0
2  0
3  1
4  1
5  1
6  1
7  1
8  1

In [38]:
df

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3        1  1000.0
1  100002000.0   197.0   LEXINGTON            N            3      1.5   950.0
2  100003000.0     NaN   LEXINGTON            N          NaN        1   850.0
3  100004000.0   201.0    BERKELEY            Y            1      NaN   700.0
4          NaN   203.0    BERKELEY            Y            3        2  1600.0
5  100006000.0   207.0    BERKELEY            Y          NaN        1   800.0
6  100007000.0     NaN  WASHINGTON            Y            2   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y            1        1   950.0
8  100009000.0   215.0     TREMONT            Y           na        2  1800.0