Data cleansing can be one of the most time consuming a data scientist will

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/dataoptimal/posts/master/data%20cleaning%20with%20python%20and%20pandas/property%20data.csv'
df = pd.read_csv(url)
print(df.shape)
df.head()

(9, 7)

           PID  ST_NUM    ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0     PUTNAM            Y            3        1  1000
1  100002000.0   197.0  LEXINGTON            N            3      1.5    --
2  100003000.0     NaN  LEXINGTON            N          NaN        1   850
3  100004000.0   201.0   BERKELEY           12            1      NaN   700
4          NaN   203.0   BERKELEY            Y            3        2  1600

In [4]:
df.OWN_OCCUPIED.dtype

dtype('O')

In [5]:
df.SQ_FT.str.isnumeric()

0     True
1    False
2     True
3     True
4     True
5     True
6     True
7      NaN
8     True
Name: SQ_FT, dtype: object

In [8]:
df.OWN_OCCUPIED.str.isalpha()

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8    False
Name: OWN_OCCUPIED, dtype: bool